@model Investment.UI.Models.PaymentReceived

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PaymentReceived</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.clients.fName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clients.fName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentsMade.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentsMade.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amtRec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amtRec)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.payReceivedId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
